.navbar {
  background-color: transparent;
}

.top-nav-collapse {
  background-color: #000000;
}

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #000000;
  }
}

html,
body,
header,
.view {
  height: 100%;
}

body header nav .navbar-brand {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
  justify-items: center;
  text-align: center;
}

body header nav .navbar-brand img {
  width: auto;
  height: 6vh;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

body header nav #navbarSupportedContent {
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
}

body header #intro #landingPageCarousel .carousel-inner .carousel-item img {
  -o-object-fit: cover;
     object-fit: cover;
  image-orientation: from-image;
}

body header #intro #mask #mask-wrapper #landingOverlay img {
  width: auto;
  height: 50vh;
  -webkit-filter: invert(100%);
          filter: invert(100%);
  margin: 0 auto;
  margin-top: 5vh;
}

body header #intro #mask #mask-wrapper #landingOverlay h4 {
  font-size: 3vh;
  margin-top: 5vh;
}

body main #events .container .eventCardHolder {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body main #events .container .eventCardHolder .card {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  height: 30%;
}

body main #events .container .eventCardHolder .card .view img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 20vh;
}

body main #events .container .eventCardHolder .card .card-body h4 {
  font-size: large;
}

body main #events .container .eventCardHolder .card .card-body p {
  font-size: medium;
}
