html,
body,
header,
#intro {
	height: 100%;
}

#intro {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
}

.carousel-image {

	width: 100%;
	object-fit: cover;
	object-position: center;
	image-orientation: from-image;


}
